AddDefaultCharset utf-8
Options -Indexes
ServerSignature Off
SetEnv SERVER_ADMIN god@fastfen.club

<IfModule mod_rewrite.c>
RewriteEngine on
RewriteRule ^api/(.*)$ index.php?controller=api&$1 [QSA,L,NC]
RewriteRule ^callback/(.*)$ index.php?controller=callback&$1 [QSA,L,NC]
RewriteRule ^getimg/(.*)$ index.php?controller=getimg&$1 [QSA,L,NC]
RewriteRule ^p/(.*)$ index.php?controller=page&page=$1 [QSA,L,NC]
</IfModule>
<IfModule mod_dir.c>
  DirectoryIndex index.php index.html
</IfModule>
<Files ~ "\.(ini)$">
order allow,deny
deny from all
</Files>